@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
:root{
    --green: #04E31F;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
    --text:rgb(34, 54, 69, .7);
}
html,body{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}
a{
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
}
a:hover{
    color: var(--green);
    cursor: pointer;
}
/* Header and Navabar */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 50px;
  padding: 1em;
  box-shadow: var(--shadow);
}

.header-logo a{
  font-size: 1.8em;
  color: var(--green);
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--green);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Main Section */

.main{
  display: flex;
  flex-direction: column;
  margin: 2em;
  text-align: center;
  align-items: center;
}

.main-area{
  width: 60%;
  text-align: justify;
}

/* inputs and outputs area */

.io-area{
  padding: 2em 0;
}

.dp-form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0.8em 0 2em 0;
}

.dp-form #dp-days{
  background: white;
  width: 250px;
  height: auto;
  font-size: 1.1em;
  margin: .2em 0 1em 0;
  left: 0;
}

.dp-form #dp-days:focus{
  outline-style: none;
  border: 2px solid var(--green);
}

.title-form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 2em 0;
}

.title-form #day-title{
  width: 250px;
  height: auto;
  font-size: 1.1em;
  margin: .2em 0 .2em 0;
  left: 0;
}

.title-form #day-title:focus{
  outline-style: none;
  border: 2px solid var(--green);
}

.form-inputs-group{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0.5em 0 0.2em 0;
}

.form-inputs-group #day-exercise, 
#day-series, #day-reps{
  width: 250px;
  height: auto;
  font-size: 1.1em;
  margin: .2em 0 .2em 0;
  left: 0;
}

.form-inputs-group input:focus{
  outline-style: none;
  border: 2px solid var(--green);
}

.input-label{
  font-family: 'Poppins';
  font-size: 1.2em;
}

.io-button{
  width: 8em;
  height: 3.3em;
  margin: .3em 0 1em 0;
  font-family: 'Poppins';
  background: rgb(4, 227, 31,0.5);
  border: 1px solid var(--green);
  color: white;
}

.io-button:hover{
  background: var(--green);
}

.e-button{
  width: 8em;
  height: 3.3em;
  margin: .3em 0 1em 0;
  font-family: 'Poppins';
  background: #ffa9a9;
  border: 1px solid #ff4141;
  color: white;
}

.e-button:hover{
  background:#ff4141;
}

.accordion-area{
  width: 80%;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgb(4, 227, 31,0.7);
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: var(--green);
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}

.tab-content {
  display: none;
  max-height: 0;
  padding: 0 1em;
  color: black;
  background: white;
  transition: all .35s;
}

.tab-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab-input:checked + .tab-label{
  background: var(--green);
}

.tab-input:checked + .tab-label::after {
  transform: rotate(90deg);
}

.tab-input:checked ~ .tab-content {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-height: 100vh;
  padding: 1em;
}

/* Tab Content Lists */

.tab-content-list{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.tab-content-element{
  display: grid;
  grid-template-areas: 'p1 p1 eb rb';
  width: 100%;
  text-decoration: none;
  list-style: none;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.1em;
}

.tab-content-element >p{
  grid-area: p1;
}

.tab-content-element >.edit-element-button{
  grid-area: eb;
}

.tab-content-element >.remove-element-button{
  grid-area: rb;
}

.remove-element-button{
  width: 5.5em;
  height: 2.5em;
  margin: 1em;
  font-family: 'Poppins';
  background: #ffa9a9;
  border: 1px solid #ff4141;
  color: white;
}

.remove-element-button:hover{
  background:#ff4141;
}

.edit-element-button{
  width: 5.5em;
  height: 2.5em;
  margin: 1em;
  font-family: 'Poppins';
  background: rgb(4, 227, 31,0.5);
  border: 1px solid var(--green);
  color: white;
}

.edit-element-button:hover{
  background: var(--green);
}

.tab-content-buttons{
  display: flex;
  flex-direction: row;

}
















@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 50px;
    margin-top: 25px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: translate(-150%);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: translatex(0);
    align-items: center;
    /* border: 1px solid #444; */
    box-shadow: var(--shadow);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background: white;
  }
}